body{
    background: lightblue;
    color: darkblue;
}
h1{
    position: static;
    text-align: center;
    border: medium;
    text-decoration: underline;
    color: lightsalmon;
}
p{
    color: black;
    font-size: 1.9em;
    position: static;
    left: 50px ;

}
.container{
 width: 40%;
    top: 50%;
    left: 50%;
    background: white;
    border-radius: 10px;
    min-width: 450px;
    position: absolute;
    min-height: 100px;
    transform: translate(-50%,-50%);
}
#newtask{
    position: relative;
    padding: 30px 20px;
}
#newtask button{
    background-color: black;
    color: white;
    outline:solid;
    font-size: 1.2em;
    border-color: ;
    border-radius: 8px;
    height: 100%;
    width: 20%;
    border: none;   
}
#newtask input{
    width: 50%;
    height: 20px;
    padding: 10px;
    border-radius: 15px;
    color: black;
    font-weight: bold;
    position: relative;right: 10px;
    font-family: sans-serif;
    font-size: none;
    border: 2px solid #d1d3d4;
}

#tasks{
    border-radius: 10px;
/*    width: 75%;*/
    position: relative;
    background-color: #ffffff;
    padding: 30px 20px;
    margin-top: 10px;
}

.task{
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #939697;
    cursor: pointer;
    background-color: #c5e1e6;
    height: 50px;
    margin-bottom: 8px;
    padding: 5px 5px;
    display: flex;
    font-size: 1.5em;
}
.task button{
    height: 75%;
    width: 40px;
    border-radius: 5px;
}

